.achievements-fieldset {
  background-color: $dirty-white;
}

.achievements-fieldset legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $pink;
}

.achievemnts-fieldset__list {
  list-style: none;
}

.achievements-fieldset__item label {
  font-size: 18px;
  line-height: 30px;
  color: $basic-gray;
}
