.contacts__header {
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
}

.contacts__contact h3 {
  font-size: 18px;
  font-weight: 700;
}

.contacts__contact p {
  font-size: 24px;
  font-weight: 300;
  color: $pink;
}

.contacts__map {
  width: 320px;
  height: 200px;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
}
