.download-section {
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 32px;
  background-color: $basic-gray;
}

.download-section__link {
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 32px;
  padding: 16px 0;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: $white;
  border: 3px solid $white;
  border-radius: 29px;
}

.download-section__list {
  margin-bottom: 15px;
}

.download-section__desc {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  color: $white;
}
