.form h2 {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $basic-grey;
}

.form__button {
  background-color: $basic-green;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  border: 2px solid $basic-green;
  border-radius: 1px;
}

.form__fields-required {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__fields-required span {
  color: $pink;
}
