.information {
  background-image: url("../img/iphone-screen-mobile.png");
  background-repeat: no-repeat;
}

.information__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $basic-grey;
}

