.intro {
  height: 396px;
  background-color: $black;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
}

.intro__wrapper {
  height: 396px;
  background-image: url("../img/phone-hand-mobile.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.intro__header {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $white;
}

.intro__download {
  box-sizing: border-box;
  width: 280px;
  padding: 16px 0;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: $white;
  border: 3px solid $white;
  border-radius: 29px;
}

.intro__list {
  height: 250px;
  background-color: $basic-grey;
}

.intro__desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $white;
}
