.page-header {
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  width: $mobile-width;
  margin: 0 auto;
}

.page-header__logo {
  width: 74px;
  height: 100%;
}

.page-header__nav {
  background-color: $black;
  opacity: 0.3;
}

.page-header__menu {
  display: none;
}
