.reviews__list {
  list-style: none;
}

.reviews__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__about-author {
  display: none;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
